/* GENERAL */
body{
    background-color: #8B5CF6;
    height: 100vh;
}

/*  */
/* NAVBAR */
nav{
    height: 80px;
}
#difficulties{
    width: 150px;
    border-radius: 15px;
    padding: 3px 0;
}
#set-difficulty{
    border: none;
    border-radius: 15px;
    padding: 3px 20px;
    background-color: #00e165;
}

/* MAIN */
.grid{
    width: 800px;
    height: 800px;
    border: 2px solid #000;
}

.square{
    border: 2px solid #000;
    cursor: pointer;
}

.square.active{
    background-color: #00e165;
    color: #fff;
}

.square.bomb{
    background-color: #df2d2d;
    color: #fff;
}
/* FOOTER */
footer{
    font-size: 20px;
    background-color: #fff;
    padding: 20px;
}

footer .link-boolean:focus{
    color: purple;
}

.end-game{
    pointer-events: none;
}